*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html,
body{
    height: 100%;
}

body{
       background-image: url("../Image/low-poly-grid-haikei.png");
       background-repeat: no-repeat;
       background-size: cover;
       display: grid;
       place-items: center;
       padding: 10%;
}

.login-card{
    width: 45%;
    height: 95%;
    padding: 70px 50px 55px;
    text-align: center;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    

}

.login-form> h1{
    
    font-weight: 600;
    margin: 0 0 10%;
    font-size: 35px;
    text-transform: uppercase;
    gap: 16px;

    

}

.login-form{
    width: 100%;
    display: grid;
    text-align: center;
}

.login-form >input{
    

    width:  100%;
    height:  50px;
    font-size: 16px;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 0 17px;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
}

.FT{
   color: #123399;
   margin-bottom: 20px;  
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   
}

.BTN{

    background-color:#03139E;
    color: white;
    padding: 14px 25px;
    font-size: 20px;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;

  

}







