
.title > h1 {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    margin-top: 20px;
        
}

.Group1-picture{
    position: absolute;
    right: 24%;
    top: 17%;

}

.first-row{
     
    float: left;
    padding: 5px 20px;
    margin: 0 12px;
    font-size: 100%;
    text-align: center;
    border: 2px solid black;
}



.Group2-Picture {
    position: absolute;
    left: 38%;
    top: 40%;
    

}

.Second-row {
    float: left;
    padding: 5px 20px;
    margin: 0 12px;
    font-size: 100%;
    text-align: center;
    border: 1px solid black;

}

.Third-row{

    float: left;
    padding: 5px 20px;
    margin: 0 12px;
    font-size: 100%;
    text-align: center;
    border: 1px solid black;
}

.Group3-Pictures {
    position: absolute;
    right: 29%;
    top: 63%;
}

.first-row > h2{

    font-size: 20px;
}

.Second-row > h2 {
    font-size: 20px;
}

.Third-row > h2 {
    font-size: 20px;
}